<a href="https://colab.research.google.com/github/mushiboy/Data-Analysis/blob/master/Economics_Project_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [0]:
!curl -s https://course.fast.ai/setup/colab | bash

Updating fastai...
Done.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
from fastai.tabular import *
from fastai import *

In [0]:
!pip3 install pandas --upgrade

Requirement already up-to-date: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.3)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
from google.colab import files
files.upload()

In [0]:
data = pd.read_excel("/content/Data/Data.xlsx")

In [0]:
data.rename(index = {"Will you switch to other alternative brands if they offer a similar but cheaper Smartphone?":"Similar_Specs_Switch"}, inplace = True)

In [0]:
data.columns

Index(['Timestamp', 'Name', 'Gender', 'Age', 'Brand', 'Cost', 'Place',
       'Reason', 'OS', 'Satisfactioin_OS', 'Brand_importance',
       'Brand_influence', 'Phone_upgradation', 'Upgrad_same_brand',
       'Similar_phone_other_brand_2', 'Brand_influence_2', 'Try_New_OS',
       'Quality_vs_Price', 'Similiar_phone_other_brand',
       'Mobile_network_charges', 'View', 'Applications_payable', 'Accessories',
       'Income'],
      dtype='object')

In [0]:
data.head(20)

In [0]:
data.drop("Timestamp", axis = 1, inplace = True)

**Cleaning Cost**

In [0]:
data[data.Cost.str.contains("k", case = False, na = False)]

Empty DataFrame
Columns: [Name, Gender, Age, Brand, Cost, Place, Reason, OS, Satisfactioin_OS, Brand_importance, Brand_influence, Phone_upgradation, Upgrad_same_brand, Similar_phone_other_brand_2, Brand_influence_2, Try_New_OS, Quality_vs_Price, Similiar_phone_other_brand, Mobile_network_charges, View, Applications_payable, Accessories, Income]
Index: []

In [0]:
for i in range(0, data.shape[0]):
  if "k" in str(data.iloc[i, 4]):
    data.iloc[i, 4] = data.iloc[i, 4][:2] + "000"

In [0]:
data[data.Cost.str.contains(".", case = False, na = False)]

In [0]:
for i in range(0, data.shape[0]):
  if "." in str(data.iloc[i, 4]):
    print("LOL")
    data.iloc[i, 4] = data.iloc[i, 4][1:]

In [0]:
data.iloc[42, 4] = 28000

In [0]:
data.iloc[56, 4] = 8000

In [0]:
list(data.Cost)

In [0]:
for i in range(0, data.shape[0]):
  if "," in str(data.iloc[i, 4]):
    data.iloc[i, 4] = data.iloc[i, 4].replace(",", "")

In [0]:
for i in range(0, data.shape[0]):
  if "Rs" in str(data.iloc[i, 4]):
    print("LOL")
    data.iloc[i, 4] = data.iloc[i, 4].replace("Rs", "")

LOL

In [0]:
for i in range(0, data.shape[0]):
  if "/" in str(data.iloc[i, 4]):
    print("LOL")
    data.iloc[i, 4] = data.iloc[i, 4].replace("/-", "")

LOL
LOL

In [0]:
data[data["Cost"] == "Redmi Y3"]["Cost"]
data.loc[49, "Cost"] = 10000
data.loc[49, "Cost"]

10000

In [0]:
for i in range(0, data.shape[0]):
  if "+" in str(data.iloc[i, 4]):
    data.iloc[i, 4] = float("NaN")

In [0]:
data["Cost"] = data["Cost"].apply(pd.to_numeric)

In [0]:
data[data["Cost"] > 100000]["Cost"]

4      7.905850e+09
106    9.608206e+09
Name: Cost, dtype: float64

In [0]:
data.iloc[4, 4]= float("NaN")
data.iloc[106, 4] = float("NaN")

In [0]:
data[data["Cost"].isnull()]

Empty DataFrame
Columns: [Name, Gender, Age, Brand, Cost, Place, Reason, OS, Satisfactioin_OS, Brand_importance, Brand_influence, Phone_upgradation, Upgrad_same_brand, Similar_phone_other_brand_2, Brand_influence_2, Try_New_OS, Quality_vs_Price, Similiar_phone_other_brand, Mobile_network_charges, View, Applications_payable, Accessories, Income]
Index: []

In [0]:
for i in range(0, data.shape[0]):
  if pd.isnull(data.loc[i, "Cost"]):
    data["Cost"][i] = data[data["Brand"] == data["Brand"][i]]["Cost"].mean()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
data.loc[[4, 8, 45, 61, 106], "Cost"]

4      37749.937500
8      14857.142857
45     62000.000000
61     12880.000000
106    13999.875000
Name: Cost, dtype: float64

Cleaning Brand

In [0]:
data["Brand"].unique()

array(['Nokia', 'Real me', 'Oneplus', 'Apple', 'Motorola', 'Lenovo', 'Coolpad', 'Samsung', 'Huawei', 'Xiomi', 'Vivo',
       'itel', 'Oppo', 'Honor', 'Asus', 'Sony', 'HTC', 'Micromax'], dtype=object)

In [0]:
data[data["Brand"] == "itel"]

         Name             Gender  ...   Accessories    Income
50  Professor  Prefer not to say  ...  Screen guard  < 1 lakh

[1 rows x 23 columns]

In [0]:
data = data[data["Brand"] != "itel"]

Cleaning Brand

In [0]:
data2 = pd.read_excel("/content/Data/Data.xlsx")
data2 = data[data["Brand"] != "itel"]
data2.shape

(109, 23)

In [0]:
data.Gender.value_counts()

Male                 80
Female               27
Prefer not to say     2
Name: Gender, dtype: int64

In [0]:
data2[data2["Gender"] == "Prefer not to say"]

            Name             Gender  ...                Accessories      Income
44         Ankit  Prefer not to say  ...               Screen guard  1 - 5 lakh
76  Thaju Habeeb  Prefer not to say  ...  Phone cases, Screen guard   > 15 lakh

[2 rows x 23 columns]

In [0]:
data2.rename(columns = {"Similiar_phone_other_brand": "Similar_phone_other_brand"}, inplace= True)

In [0]:
data[data["Gender"] == "Prefer not to say"]["Gender"] = "Male"

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [0]:
data[data["Gender"] == "Prefer not to say"]

Empty DataFrame
Columns: [Name, Gender, Age, Brand, Cost, Place, Reason, OS, Satisfactioin_OS, Brand_importance, Brand_influence, Phone_upgradation, Upgrad_same_brand, Similar_phone_other_brand_2, Brand_influence_2, Try_New_OS, Quality_vs_Price, Similiar_phone_other_brand, Mobile_network_charges, View, Applications_payable, Accessories, Income]
Index: []

In [0]:
data.Gender.value_counts()

Male      82
Female    27
Name: Gender, dtype: int64

In [0]:
columns = data.columns

In [0]:
columns

Index(['Name', 'Gender', 'Age', 'Brand', 'Cost', 'Place', 'Reason', 'OS',
       'Satisfactioin_OS', 'Brand_importance', 'Brand_influence',
       'Phone_upgradation', 'Upgrad_same_brand', 'Similar_phone_other_brand_2',
       'Brand_influence_2', 'Try_New_OS', 'Quality_vs_Price',
       'Similiar_phone_other_brand', 'Mobile_network_charges', 'View',
       'Applications_payable', 'Accessories', 'Income'],
      dtype='object')

In [0]:
data.to_excel("Cleaning.xlsx")

CORRECTING INDEXES

In [0]:
old_index = range(51, 111)
new_index = range(50, 110)
index = dict(zip(old_index, new_index))
index

In [0]:
data.rename(index = index, inplace = True)

In [0]:
list(data.index)

**Cleaning Places**

In [0]:
data.Place.unique()

array(['Online', 'Malappuram', 'Calicut', 'Bangalore', 'Nagpur', 'Kozhikode', 'Dubai', 'Thrissur', 'Pondicherry',
       'Patna ', 'Gujarat', 'Guntur', 'Kanpur', 'Pondicherry ', 'Palakkad', 'Abu Dhabi', 'Sasaram', 'Muzaffarpur',
       'Ranchi', 'Mumbai', 'New york', 'Ramgarh', 'Kozhikkode', 'Ahmedabad', 'Jodhpur', 'Delhi', 'Hajipur', 'Kochi',
       'Chandigarh', 'Gwalior', 'Bhopal', 'Indore ', 'Patna', 'Kolkata', 'Motihari', 'Deoghar'], dtype=object)

In [0]:
data.loc[50, "Place"] = "Ramgarh"

In [0]:
for i in range(50, data.shape[0]):
  if any(x in data.loc[i, "Place"].lower() for x in ["amazon", "flipkart", "online"]):
    data.loc[i, "Place"] = "Online"

In [0]:
data.Place.unique()

array(['Online', 'Malappuram', 'Calicut', 'Bangalore', 'Nagpur', 'Kozhikode', 'Dubai', 'Thrissur', 'Pondicherry',
       'Patna ', 'Gujarat', 'Guntur', 'Kanpur', 'Pondicherry ', 'Palakkad', 'Abu Dhabi', 'Sasaram', 'Muzaffarpur',
       'Ranchi', 'Mumbai', 'New york', 'Ramgarh', 'Kozhikkode', 'Ahmedabad', 'Jodhpur', 'Delhi', 'Hajipur', 'Kochi',
       'Chandigarh', 'Gwalior', 'Bhopal', 'Indore ', 'Patna', 'Kolkata', 'Motihari', 'Deoghar'], dtype=object)

In [0]:
data.to_excel("Cleaning.xlsx")

**Cleaning Brand_influence**

In [0]:
columns

Index(['Name', 'Gender', 'Age', 'Brand', 'Cost', 'Place', 'Reason', 'OS',
       'Satisfactioin_OS', 'Brand_importance', 'Brand_influence',
       'Phone_upgradation', 'Upgrad_same_brand', 'Similar_phone_other_brand_2',
       'Brand_influence_2', 'Try_New_OS', 'Quality_vs_Price',
       'Similiar_phone_other_brand', 'Mobile_network_charges', 'View',
       'Applications_payable', 'Accessories', 'Income'],
      dtype='object')

In [0]:
data.drop("Brand_influence_2", inplace=True, axis = 1)

In [0]:
columns = data.columns
columns

Index(['Name', 'Gender', 'Age', 'Brand', 'Cost', 'Place', 'Reason', 'OS',
       'Satisfactioin_OS', 'Brand_importance', 'Brand_influence',
       'Phone_upgradation', 'Upgrad_same_brand', 'Similar_phone_other_brand_2',
       'Try_New_OS', 'Quality_vs_Price', 'Similiar_phone_other_brand',
       'Mobile_network_charges', 'View', 'Applications_payable', 'Accessories',
       'Income'],
      dtype='object')

In [0]:
data.to_excel("Cleaning.xlsx")

In [0]:
data.rename(columns = {"Similiar_phone_other_brand": "Similar_phone_other_brand"}, inplace= True)

**Cleaning Similar_phone_other_brand**

In [0]:
data.drop("Unnamed: 0", axis =1, inplace = True)

In [0]:
data[(data.Similar_phone_other_brand_2 != data.Similar_phone_other_brand)][["Similar_phone_other_brand", "Similar_phone_other_brand_2"]]

    Similar_phone_other_brand Similar_phone_other_brand_2
1                       Maybe                          No
6                       Maybe                         Yes
9                          No                         Yes
15                         No                       Maybe
16                      Maybe                         Yes
18                      Maybe                          No
23                        Yes                       Maybe
24                        Yes                       Maybe
26                      Maybe                          No
29                      Maybe                         Yes
32                        Yes                       Maybe
33                      Maybe                         Yes
37                      Maybe                          No
43                        Yes                       Maybe
44                       Male                         Yes
45                         No                         Yes
46                        Yes                       Maybe
47                        Yes                       Maybe
59                        Yes                       Maybe
62                      Maybe                         Yes
63                      Maybe                         Yes
64                        Yes                       Maybe
66                      Maybe                         Yes
67                        Yes                       Maybe
70                         No                         Yes
71                        Yes                          No
76                         No                         Yes
77                        Yes                          No
79                         No                       Maybe
80                         No                         Yes
81                        Yes                          No
82                      Maybe                          No
83                        Yes                          No
84                        Yes                          No
88                         No                         Yes
93                         No                         Yes
95                        Yes                          No
98                        Yes                          No
101                       Yes                       Maybe
102                        No                       Maybe
103                        No                       Maybe
104                        No                         Yes
107                       Yes                          No

In [0]:
data[data.Similar_phone_other_brand == "Male"]

     Name Gender    Age  ... Applications_payable   Accessories      Income
44  Ankit   Male  20-24  ...                Maybe  Screen guard  1 - 5 lakh

[1 rows x 22 columns]

In [0]:
data.loc[44, "Similar_phone_other_brand"] = "Maybe"

In [0]:
data.Similar_phone_other_brand.unique()

array(['Yes', 'Maybe', 'No'], dtype=object)

In [0]:
data.drop("Similar_phone_other_brand_2", axis = 1, inplace = True)

In [0]:
columns = data.columns

In [0]:
columns

Index(['Name', 'Gender', 'Age', 'Brand', 'Cost', 'Place', 'Reason', 'OS',
       'Satisfactioin_OS', 'Brand_importance', 'Brand_influence',
       'Phone_upgradation', 'Upgrad_same_brand', 'Try_New_OS',
       'Quality_vs_Price', 'Similar_phone_other_brand',
       'Mobile_network_charges', 'View', 'Applications_payable', 'Accessories',
       'Income'],
      dtype='object')

In [0]:
data.to_excel("2.xlsx")

In [0]:
data.drop(45, inplace = True)

In [0]:
old_index = range(46, 111)
new_index = range(45, 110)
index = dict(zip(old_index, new_index))
index

{46: 45,
 47: 46,
 48: 47,
 49: 48,
 50: 49,
 51: 50,
 52: 51,
 53: 52,
 54: 53,
 55: 54,
 56: 55,
 57: 56,
 58: 57,
 59: 58,
 60: 59,
 61: 60,
 62: 61,
 63: 62,
 64: 63,
 65: 64,
 66: 65,
 67: 66,
 68: 67,
 69: 68,
 70: 69,
 71: 70,
 72: 71,
 73: 72,
 74: 73,
 75: 74,
 76: 75,
 77: 76,
 78: 77,
 79: 78,
 80: 79,
 81: 80,
 82: 81,
 83: 82,
 84: 83,
 85: 84,
 86: 85,
 87: 86,
 88: 87,
 89: 88,
 90: 89,
 91: 90,
 92: 91,
 93: 92,
 94: 93,
 95: 94,
 96: 95,
 97: 96,
 98: 97,
 99: 98,
 100: 99,
 101: 100,
 102: 101,
 103: 102,
 104: 103,
 105: 104,
 106: 105,
 107: 106,
 108: 107,
 109: 108,
 110: 109}

In [0]:
data.rename(index = index, inplace = True)

In [0]:
data[data.Mobile_network_charges == "No call drop and steady net connection."]

           Name Gender  ...                Accessories      Income
30  Somnath Jha   Male  ...  Phone cases, Screen guard  1 - 5 lakh

[1 rows x 21 columns]

In [0]:
data.loc[30, "Mobile_network_charges"] = "Good connectivity"
data.loc[30]

Name                                       Somnath Jha
Gender                                            Male
Age                                              20-24
Brand                                             Vivo
Cost                                              7000
Place                                      Muzaffarpur
Reason                                          Design
OS                                              Others
Satisfactioin_OS                                     3
Brand_importance                                     3
Brand_influence                                  Maybe
Phone_upgradation                     more than 2 year
Upgrad_same_brand                                Maybe
Try_New_OS                                         Yes
Quality_vs_Price                           Lower price
Similar_phone_other_brand                          Yes
Mobile_network_charges               Good connectivity
View                                         Necessity
Applications_payable                             Maybe
Accessories                  Phone cases, Screen guard
Income                                      1 - 5 lakh
Name: 30, dtype: object

In [0]:
data[data.Mobile_network_charges == "Free incoming calls"]

          Name  Gender    Age  ... Applications_payable   Accessories    Income
102  Priya Das  Female  15-19  ...                   No  Screen guard  < 1 lakh

[1 rows x 21 columns]

In [0]:
data.loc[102, "Mobile_network_charges"] = "All the above"
data.loc[102]

In [0]:
data[data.Mobile_network_charges == "Unlimited data, Proper signal without interruption and for for an unlimited period of time"]

      Name Gender  ...                Accessories    Income
19  Sriram   Male  ...  Phone cases, Screen guard  < 1 lakh

[1 rows x 21 columns]

In [0]:
data.loc[19, "Mobile_network_charges"] = "All the above"
data.loc[19]

Name                                            Sriram
Gender                                            Male
Age                                              20-24
Brand                                            Xiomi
Cost                                              8000
Place                                      Pondicherry
Reason                                           Value
OS                                             Android
Satisfactioin_OS                                     5
Brand_importance                                     5
Brand_influence                                    Yes
Phone_upgradation                     more than 2 year
Upgrad_same_brand                                Maybe
Try_New_OS                                       Maybe
Quality_vs_Price                           Lower price
Similar_phone_other_brand                           No
Mobile_network_charges                   All the above
View                                         Necessity
Applications_payable                                No
Accessories                  Phone cases, Screen guard
Income                                        < 1 lakh
Name: 19, dtype: object

In [0]:
data[data.Mobile_network_charges == "Good connectivity "]

          Name Gender    Age  ... Applications_payable  Accessories       Income
15  Mayank Raj   Male  20-24  ...                Maybe  Headphones   5 - 10 lakh

[1 rows x 21 columns]

In [0]:
data.loc[15, "Mobile_network_charges"] = "Good connectivity"
data.loc[15]

Name                                Mayank Raj
Gender                                    Male
Age                                      20-24
Brand                                  Oneplus
Cost                                     54000
Place                                   Patna
Reason                             Performance
OS                                     Android
Satisfactioin_OS                             4
Brand_importance                             5
Brand_influence                          Maybe
Phone_upgradation                       1 year
Upgrad_same_brand                           No
Try_New_OS                               Maybe
Quality_vs_Price                  High-quality
Similar_phone_other_brand                   No
Mobile_network_charges       Good connectivity
View                                 Necessity
Applications_payable                     Maybe
Accessories                        Headphones
Income                             5 - 10 lakh
Name: 15, dtype: object

In [0]:
data.Mobile_network_charges.value_counts()

Unlimited Data for a limited period of time    39
Data at discounted rate                        38
Less Network charges                           26
All the above                                   3
Good connectivity                               2
Name: Mobile_network_charges, dtype: int64

In [0]:
columns

Index(['Name', 'Gender', 'Age', 'Brand', 'Cost', 'Place', 'Reason', 'OS',
       'Satisfactioin_OS', 'Brand_importance', 'Brand_influence',
       'Phone_upgradation', 'Upgrad_same_brand', 'Try_New_OS',
       'Quality_vs_Price', 'Similar_phone_other_brand',
       'Mobile_network_charges', 'View', 'Applications_payable', 'Accessories',
       'Income'],
      dtype='object')

Cleaning Accessories

In [0]:
data.Accessories.unique()

array(['Phone cases', 'Phone cases, Screen guard', 'Screen guard', 'Headphones ', 'Phone cases, Earphones'],
      dtype=object)

In [0]:
data["Phone cases"] = np.nan
data["Scree guard"] = np.nan
data["Headphones"] = np.nan

In [0]:
columns = data.columns
columns

Index(['Name', 'Gender', 'Age', 'Brand', 'Cost', 'Place', 'Reason', 'OS',
       'Satisfactioin_OS', 'Brand_importance', 'Brand_influence',
       'Phone_upgradation', 'Upgrad_same_brand', 'Try_New_OS',
       'Quality_vs_Price', 'Similar_phone_other_brand',
       'Mobile_network_charges', 'View', 'Applications_payable', 'Accessories',
       'Income', 'Phone cases', 'Screen guard', 'Headphones'],
      dtype='object')

In [0]:
data.Accessories.unique()

array(['Phone cases', 'Phone cases, Screen guard', 'Screen guard', 'Headphones ', 'Phone cases, Earphones'],
      dtype=object)

In [0]:
data.Accessories.value_counts()

Phone cases, Screen guard    74
Screen guard                 25
Phone cases                   7
Headphones                    1
Phone cases, Earphones        1
Name: Accessories, dtype: int64

In [0]:
for i in range(0, data.shape[0]):
  if "Phone cases" in data.loc[i, "Accessories"]:
    data.loc[i, "Phone cases"] = int(1)
  else:
    data.loc[i, "Phone cases"] = int(0)
  if "Screen guard" in data.loc[i, "Accessories"]:
    data.loc[i, "Screen guard"] = int(1)
  else:
    data.loc[i, "Screen guard"] = int(0)
  if any(x in data.loc[i, "Accessories"] for x in ["Headphones", "Earphones"]):
    data.loc[i, "Headphones"] = int(1)
  else:
    data.loc[i, "Headphones"] = int(0)

In [0]:
data.rename(columns = {'Phone cases' : "Phone_cases", "Screen guard" : "Screen_guard"}, inplace = True)

In [0]:
data.Phone_cases.value_counts()

1.0    82
0.0    26
Name: Phone_cases, dtype: int64

In [0]:
data.drop("Accessories", inplace = True, axis=1)

In [0]:
data.to_excel("4.xlsx")

In [0]:
data.Income.value_counts()

5 - 10 lakh    40
1 - 5 lakh     27
5 - 15 lakh    17
< 1 lakh       12
> 15 lakh      12
Name: Income, dtype: int64